In [1]:
import numpy as np
import pandas as pd
from math import log

In [2]:
bugs = pd.read_csv('../../Datasets/ml-bugs.csv')
bugs.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [6]:
def calulate_entropy(bugs):
    lob = bugs[bugs['Species'] == 'Lobug'].shape[0]
    mob = bugs[bugs['Species'] == 'Mobug'].shape[0]
    
    total = bugs['Species'].shape[0]
    
    return (-1 * (lob/total) * log((lob/total), 2)) + (-1 * (mob/total) * log((mob/total), 2))

In [18]:
def calculate_info_gain(series):
    sub1 = bugs[series].copy()
    sub2 = bugs[~series].copy()
    
    parent_entropy = calulate_entropy(bugs)
    
    weight1 = sub1.shape[0] / bugs.shape[0]
    weight2 = sub2.shape[0] / bugs.shape[0]
    
    entropy1 = calulate_entropy(sub1)
    entropy2 = calulate_entropy(sub2)
    
    return parent_entropy - (weight1 * entropy1 + weight2 * entropy2)

In [15]:
for series, string in [(bugs['Color'] == 'Brown', "b['Color']=='Brown'"),
                      (bugs['Color']=='Blue', "b['Color']=='Blue'"),
                       (bugs['Color']=='Green', "b['Color']=='Green'"),
                       (bugs['Length (mm)'] < 17, "b['Length (mm)'] < 17"),
                       (bugs['Length (mm)'] < 20, "b['Length (mm)'] < 20")]:
    info_gain = calculate_info_gain(series)
    print(f"")

2

In [13]:
color = bugs[bugs['Color']=='Brown']
color

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
5    Lobug  Brown         17.1
6    Mobug  Brown         15.7
12   Mobug  Brown         13.8
15   Mobug  Brown         18.2
21   Lobug  Brown         14.1

In [16]:
color[color['Species'] == 'Mobug' ].shape[0]

4

In [17]:
bugs.shape

(24, 3)