In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t
import progressbar
from scipy.sparse import csr_matrix
from IPython.display import HTML


%matplotlib inline

# Read in the datasets
movies = pd.read_csv('./Datasets/movies_clean.csv')
reviews = pd.read_csv('./Datasets/reviews_clean.csv')[:2000]

del movies['Unnamed: 0']
del reviews['Unnamed: 0']

print(reviews.head())

   user_id  movie_id  rating   timestamp            date_time
0        1    114508       8  1381006850  2013-10-06 02:30:50
1        2    358273       9  1579057827  2020-01-15 08:40:27
2        2  10039344       5  1578603053  2020-01-10 02:20:53
3        2   6751668       9  1578955697  2020-01-14 04:18:17
4        2   7131622       8  1579559244  2020-01-21 03:57:24

In [32]:
user_items = reviews[['user_id', 'movie_id', 'rating']]
user_items.head()

   user_id  movie_id  rating
0        1    114508       8
1        2    358273       9
2        2  10039344       5
3        2   6751668       9
4        2   7131622       8

In [33]:
user_by_movie = user_items.groupby(['user_id', 'movie_id'])['rating'].max().unstack()
user_by_movie.head()

movie_id,33477,37059,38650,39628,40522,41716,42332,45152,45591,45607,...,8579674,8632862,8772262,9086228,9243946,9495224,9541602,10039344,10367276,10648440
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
def movies_watched(user_id):
    movies = user_by_movie.loc[user_id][user_by_movie.loc[user_id].isnull()==False].index.values
    return movies

In [154]:
def create_user_movie_dict():
    n_users = user_by_movie.shape[0]
    
    user_id_movies = dict()
    
    cnter = 0
    bar = progressbar.ProgressBar(maxval=n_users+1, widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])
    bar.start()
    
    for user_id in range(1, n_users+1):
        movies = movies_watched(user_id)
        user_id_movies[user_id] = movies
        cnter += 1
        bar.update(cnter)
        
    bar.finish()
        
    return user_id_movies
        
movies_seen = create_user_movie_dict()

[========================================================================] 100%

In [39]:
def create_movies_to_analyze(movies_seen, lower_bound):
    
    movies_to_analyze = dict()
    
    for user_id, movies in movies_seen.items():
        if len(movies) > lower_bound:
            movies_to_analyze[user_id] = movies
    return movies_to_analyze

movies_to_analyze = create_movies_to_analyze(movies_seen, 2)

In [40]:
movies_to_analyze

{2: array([  358273,  6751668,  7131622,  7975244,  7984734,  8579674,
        10039344], dtype=int64),
 3: array([ 790636, 1800241, 2278871, 2395417, 3344922], dtype=int64),
 4: array([ 267626, 1343092, 1477855, 1920849, 2024432, 2084970], dtype=int64),
 5: array([2884206, 3040964, 5022702], dtype=int64),
 6: array([1800241, 2378281, 2980516], dtype=int64),
 7: array([1001508, 1142988, 1292566, 1355644, 1441953, 1454029, 1878870,
        2250912, 2543164, 3783958], dtype=int64),
 11: array([ 481141, 1282140, 2388771, 4477536, 5213744, 6450804, 6957966,
        7286456, 8201170, 8579674], dtype=int64),
 12: array([1478839, 7343762, 8367814, 8579674], dtype=int64),
 15: array([1386697, 2277860, 3076658, 4196776], dtype=int64),
 18: array([ 110076, 1188982, 2574698], dtype=int64),
 19: array([1843866, 1872181, 2103281, 2235779, 3322940], dtype=int64),
 21: array([ 770828, 1210819, 1663662, 1670345, 2334879], dtype=int64),
 27: array([  73486,   75314,  105323,  119114,  120620,  146838,  151804,
         180093,  181875,  359950,  362270,  365748,  383028,  387564,
         432283,  446029,  470752,  478970,  780536,  790636,  816692,
         816711,  838221, 1201167, 1245492, 1360860, 1390411, 1392190,
        1392214, 1424432, 1431045, 1568346, 1596363, 1602620, 1675192,
        1714915, 1727388, 1731141, 1748122, 1800241, 1815862, 1817273,
        1832382, 1883180, 1901040, 1931533, 1935179, 1951261, 1951264,
        1964418, 1979320, 2106476, 2278388, 2316411, 2370248, 2395427,
        2446980, 2452254, 2488496, 2582846, 2692904, 2820852, 2869728,
        2884018, 3076658, 3170832, 4171032, 5247022], dtype=int64),
 30: array([ 369610,  478970, 1431045, 2379713, 2488496, 2975590, 3040964,
        3385516, 3659388], dtype=int64),
 38: array([1741243, 2179136, 2802144, 2872732], dtype=int64),
 41: array([ 137523,  247745,  405422,  434409,  452608,  455944,  963178,
        1093357, 1241317, 1243974, 1282140, 1321870, 1355644, 1365519,
        1396484, 1401152, 1465522, 1488555, 1502404, 1615160, 1637688,
        1850397, 1860357, 1951261, 1959563, 1981128, 2024432, 2094766,
        2140479, 2404435, 2674426, 2994190, 3110958, 3171832, 3263904,
        3717490, 3783958, 4154796, 4437046, 4630562, 4642044, 4786282,
        4855748, 5095030, 5311514, 5519340, 6200274], dtype=int64),
 42: array([ 119282,  961097, 1542768, 1980929, 2262315, 2679552], dtype=int64),
 44: array([ 124315,  317919,  454876,  770828,  790724,  822854,  891592,
        1245492, 1397280, 1482459, 1483013, 1517260, 1559547, 1623205,
        1853728, 1935902, 1942884, 1981677, 2053463], dtype=int64),
 48: array([  76759,   80684,   86250,   88847,   94737,  109040,  109830,
         119038,  137523,  144084,  151804,  264464,  298203,  361862,
         362227,  385002,  407887,  455944,  470752,  482571,  758758,
         790636,  816692,  822832,  838283,  910936,  948470, 1083452,
        1229340, 1245492, 1285016, 1306980, 1361318, 1375666, 1392170,
        1392190, 1542344, 1564367, 1645170, 1659337, 1663202, 1790864,
        1790886, 1800246, 1840309, 1853728, 1911644, 1924435, 1951265,
        1981677, 2080374, 2084970, 2106361, 2267998, 2294449, 2381941,
        2557490, 2562232, 2582782, 2582802, 2582846, 2713180, 2788710,
        2872718, 2980516, 3170832, 3460252, 3659388, 4034228, 4178092],
       dtype=int64),
 50: array([  71562,   78748,   90605,   91064,  104257,  110475,  113277,
         119643,  120812,  137523,  138510,  162661,  167404,  185937,
         190332,  206634,  211915,  230600,  235154,  241527,  245674,
         266308,  266915,  276919,  289043,  304141,  315327,  330373,
         338013,  338337,  339291,  343818,  359950,  364569,  364955,
         373889,  375912,  414951,  425637,  449059,  452625,  457430,
         477348,  481499,  800320,  831387,  848537,  907657,  993846,
        1065073, 1156395, 1232829, 1234721, 1267297, 1270798, 1288558,
        1291150, 1326972, 1392190, 1392214, 1454029, 1483013, 1535109,
        1587310, 1638002, 1659337, 1706620, 1717715, 1798709, 1800241,
        1872181, 1922777, 1925518, 1979320, 2015381, 2024469, 2024544,
        2058107, 2103281, 2178256, 2193215, 2229499, 2265171, 2267998,
        2278388, 2294449, 2294629, 2316411, 2321549, 2322441, 2350496,
        2388715, 2395427, 2404463, 2436386, 2473682, 2557256, 2562232,
        2582802, 2692904, 2752758, 2788710, 2802144, 2820852, 2872732,
        2911666, 2975578, 3063516, 3197766, 3235888, 3345472], dtype=int64),
 51: array([2543472, 4555426, 5715874], dtype=int64),
 52: array([  40522,   50083,   95765,  180093,  405159, 1355644, 3183660,
        3731562, 3783958, 4160708, 5013056, 5308322, 5442430, 5580390],
       dtype=int64),
 53: array([1441940, 1588173, 1659337], dtype=int64),
 54: array([ 829482, 1375666, 1878870, 2024519, 2094766, 2140479, 2404435,
        2543164, 2584384, 3741834, 3890160, 3896198, 4758646, 4857264],
       dtype=int64),
 57: array([ 112471, 1483013, 1531901, 1535108, 1549920, 1602613, 1663662,
        1682180, 1935179, 1995304, 2101441, 2129928, 2209418, 2265398,
        2294677, 2306745], dtype=int64),
 58: array([ 237572,  810819, 1392190, 1663202, 1895587, 2080374, 2381111,
        2494362, 3076658, 3532216, 3659388, 4934950, 5052448, 5657856],
       dtype=int64),
 59: array([  33477,   38650,   39628,   42332,   45591,   45607,   47296,
          47396,   48342,   52357,   54135,   58331,   60153,   61811,
          62622,   64757,   70510,   70608,   71807,   75860,   76054,
          76759,   79817,   82198,   82679,   83530,   84602,   84787,
          84805,   85959,   86190,   89927,   90264,   91828,   92086,
          92106,   92214,   92699,   93260,   94898,   95963,   96320,
          97239,   97351,   97757,   98536,   99699,  100403,  100405,
         100507,  101272,  102057,  102059,  102070,  103776,  103827,
         104940,  105112,  105793,  106582,  106673,  106697,  107211,
         107362,  110428,  110478,  110527,  110632,  110912,  111257,
         115685,  116191,  116282,  116996,  117438,  117887,  118617,
         119396,  120347,  120434,  120863,  129167,  164184,  177789,
         198781,  209144,  216216,  266697,  268695,  290334,  298814,
         317705,  319262,  319343,  322330,  337741,  337978,  338013,
         347149,  356910,  358273,  361620,  369610,  370263,  371746,
         373469,  375063,  378194,  397078,  402399,  419294,  433387,
         443543,  443701,  443706,  445922,  448134,  451279,  452594,
         452623,  453562,  458339,  462499,  462504,  467200,  467406,
         468569,  469021,  475290,  478087,  478970,  492956,  497465,
         758730,  770828,  790636,  790724,  800080,  800369,  803061,
         809504,  816692,  825232,  831387,  831887,  848228,  864835,
         870111,  964517,  974015,  975645,  993846,  995039, 1028576,
        1083452, 1086772, 1091191, 1109624, 1113829, 1124035, 1133985,
        1170358, 1193138, 1194173, 1205537, 1206543, 1211837, 1211956,
        1212450, 1219289, 1228705, 1229340, 1234721, 1242545, 1244659,
        1245526, 1250777, 1289406, 1291584, 1300854, 1320253, 1340138,
        1343092, 1343727, 1355683, 1386697, 1392170, 1392190, 1408101,
        1409024, 1424381, 1424432, 1430132, 1431045, 1436562, 1453405,
        1454468, 1490017, 1515091, 1524930, 1528100, 1568911, 1596363,
        1606378, 1615147, 1631867, 1638355, 1650554, 1653665, 1655441,
        1661199, 1663662, 1675434, 1677720, 1690953, 1706620, 1731141,
        1762300, 1790885, 1798709, 1821694, 1823672, 1825683, 1837703,
        1843866, 1872181, 1877832, 1878870, 1881002, 1935179, 1935859,
        1946421, 1951265, 1951266, 1959490, 1959563, 1979320, 1981115,
        2024544, 2042568, 2057392, 2080374, 2083383, 2084970, 2103281,
        2109248, 2140373, 2172934, 2193215, 2223990, 2245084, 2250912,
        2267998, 2278388, 2310332, 2316204, 2334879, 2363471, 2379713,
        2381249, 2395427, 2397535, 2406566, 2488496, 2527336, 2531318,
        2543164, 2562232, 2606068, 2660888, 2692904, 2713180, 2802144,
        2891174, 2910904, 2948356, 2975590, 2980516, 3076658, 3168230,
        3183660, 3315342, 3385516, 3401748, 3402236, 3450958, 3460252,
        3464902, 3498820, 3501632, 3682448, 3689498, 3722070, 3731562,
        3748528, 3778644, 3799694, 3890160, 3896198, 4052882, 4062536,
        4154756, 4181052, 4341582, 4540710, 4572820, 4649466, 4698684,
        4846340, 4853102, 4925292, 5013056, 5463162, 5580390, 5776858],
       dtype=int64),
 61: array([  77416,  360556,  365907,  369610,  448115,  470752,  478970,
         816711, 1091191, 1179031, 1234721, 1235522, 1259528, 1270797,
        1274586, 1340138, 1413492, 1488606, 1536537, 1590193, 1600196,
        1618434, 1631867, 1638355, 1663202, 1677720, 1727824, 1742334,
        1772341, 1781922, 1790809, 1790864, 1809398, 1823672, 1825683,
        1846589, 1856101, 1877832, 1951266, 1959563, 1972571, 1981115,
        2034800, 2193215, 2231461, 2239822, 2261331, 2267998, 2316204,
        2326612, 2369135, 2381991, 2402157, 2404233, 2406566, 2452200,
        2488496, 2527336, 2527338, 2548396, 2557478, 2597768, 2704998,
        2713180, 2763304, 2788710, 2798920, 2800240, 2911666, 2937898,
        2968804, 3256226, 3289728, 3315342, 3450958, 3498820, 3521164,
        3532216, 3631112, 3707104, 3731562, 3774114, 3829920, 3892172,
        3896198, 4046784, 4116284, 4154664, 4154756, 4154796, 4196776,
        4218696, 4332232, 4463894, 4500922, 4572514, 4779682, 4881806,
        4912910, 4972582, 4995776, 5013056, 5057140, 5095030, 5113040,
        5246700, 5362988, 5519340, 5732482, 5758778, 6320628, 6565702,
        6772804, 6806448, 7125774, 7131622, 7286456, 7456310, 8106534,
        8179388, 8236336], dtype=int64),
 62: array([ 816711, 1228705, 1300854, 2023587], dtype=int64),
 64: array([ 332136, 1392190, 1840309, 2704998, 2932536, 5539054], dtype=int64),
 66: array([  54698,   85218,  388473,  477348,  819714, 1474276, 1517145,
        1740055, 1839494, 1860357, 2378507, 2991224, 3178174, 4158096,
        4160708, 4276820, 4489416, 5013056, 5027774, 5460658, 6472976,
        6742252, 6751668], dtype=int64),
 69: array([6040662, 6850820, 7668870, 7689964], dtype=int64),
 70: array([ 816711, 1054606, 1276104, 1453405, 1670345, 2263944], dtype=int64),
 73: array([  79501,   82694,  101272,  120616,  120737,  167260,  167261,
         171363,  209163,  364725,  388500,  859163, 1170358, 1457767,
        1587310, 1723121, 1872181, 1877832, 1951264, 1981115, 1991245,
        2023587, 2024469, 2024544, 2106361, 2377322, 2626350, 2752758],
       dtype=int64),
 74: array([  76759,   80684,   86190,  112851,  113118,  120746,  180093,
         245712,  361596,  390521,  427152,  448115,  451279,  458352,
         478970,  910936,  918927,  963208, 1078588, 1135503, 1231583,
        1307068, 1477834, 1535438, 1638355, 1648179, 1663202, 1700841,
        1714206, 1790885, 1980209, 1985949, 2004420, 2119532, 2172985,
        2250912, 2258337, 2338151, 2763304, 2869728, 2948356, 3040964,
        3170832, 3281548, 3381008, 3464902, 3498820, 3659388, 3766354,
        4160708, 4178092, 4364194, 4438848, 4633694, 4897822, 4901306,
        5052448, 5463162, 6644200, 7286456, 8579674, 9243946], dtype=int64),
 78: array([ 120586, 1602613, 1650554, 2179116], dtype=int64),
 81: array([  68646, 1950186, 3922818, 7984734], dtype=int64),
 83: array([  37059,   41716,   45152,   50083,   68646,   76759,   79261,
          80684,   86190,   99685,  106364,  110413,  115736,  120903,
         196229,  217869,  290334,  352248,  357413,  365748,  369339,
         376994,  405422,  458525,  470752,  478970,  481369,  482571,
         770828,  810819, 1152398, 1155056, 1187043, 1211837, 1212450,
        1216520, 1245492, 1250777, 1270798, 1298649, 1306980, 1322312,
        1333125, 1355630, 1355683, 1375666, 1386697, 1430132, 1431045,
        1489889, 1499658, 1600196, 1638355, 1650554, 1663202, 1707386,
        1769363, 1817273, 1821362, 1855199, 1860213, 1878870, 1981677,
        2005151, 2094766, 2096673, 2170439, 2241351, 2267968, 2281587,
        2543164, 2557490, 2679042, 2848292, 2848324, 2869728, 2948356,
        2975590, 3042408, 3072482, 3170832, 3203606, 3316948, 3334996,
        3381008, 3401882, 3498820, 3569230, 3628584, 3655414, 3659388,
        3687310, 3783958, 3949660, 4034228, 4046784, 4139124, 4160708,
        4438848, 4972582, 4975722, 5168192, 5700672, 5999382, 6736782],
       dtype=int64),
 84: array([1502712, 2975590, 3498820], dtype=int64),
 86: array([  76704,   78748,   90605,  120461,  477348,  478970, 1412334,
        1611224, 2393827, 2403021, 2870612, 2991296, 3177316], dtype=int64),
 88: array([  72684,  430357,  790636, 1038043, 1124035, 1170358, 1937390,
        2084970, 2106476, 2241605, 2404461, 3089326, 4082068], dtype=int64),
 91: array([ 1025100,  1259521,  2709692,  3387520,  3741700,  5113040,
         5164214,  5220122,  5294518,  5606664,  5638642,  5734576,
         6105098,  6306064,  6423362,  6450804,  6806448,  7022402,
         7286456,  7349950,  7535964,  7798634,  8267604,  8350360,
         8364368,  8772262,  9086228,  9541602, 10648440], dtype=int64),
 92: array([ 52357,  70291, 114814], dtype=int64),
 93: array([ 265208,  416449,  974015, 1253863, 1431045, 2283362, 2975590,
        3501632], dtype=int64),
 94: array([ 120338, 1375666, 1691917, 1707386, 2226417], dtype=int64),
 95: array([  48545,   54642,   56687,   70909,   76759,   78872,   81505,
          82010,   85995,   86190,   87363,   87800,   89218,   92106,
          93437,   94737,   95016,   95765,   96283,   97428,   97958,
          98084,   99700,  106977,  114746,  115964,  116209,  117951,
         120616,  120815,  120915,  121765,  121766,  138097,  170016,
         209163,  217505,  243155,  310793,  317705,  376479,  381061,
         381681,  421715,  437086,  448115,  451279,  462335,  470752,
         475290,  478970,  490215,  491175,  491203,  787524,  803096,
         804497,  810819,  816692,  837563,  859163,  864835,  900387,
         918940,  974015, 1014763, 1017451, 1020072, 1034415, 1051904,
        1072748, 1100089, 1121096, 1124037, 1126590, 1172049, 1179933,
        1182345, 1186830, 1212428, 1213641, 1219289, 1219827, 1226837,
        1234548, 1243974, 1247690, 1270797, 1289401, 1291566, 1292566,
        1334260, 1340138, 1355631, 1355644, 1355683, 1365519, 1374989,
        1376213, 1386697, 1389072, 1390411, 1392190, 1396484, 1398426,
        1413492, 1431045, 1441953, 1457767, 1468846, 1469304, 1477834,
        1485796, 1502407, 1502712, 1517451, 1524930, 1528100, 1563742,
        1571234, 1571249, 1577052, 1596363, 1598642, 1608290, 1615147,
        1615160, 1617661, 1618434, 1618442, 1619029, 1620680, 1628841,
        1638002, 1638355, 1648190, 1653665, 1655441, 1658801, 1659337,
        1661199, 1661275, 1663202, 1667321, 1677720, 1679335, 1686821,
        1700841, 1727824, 1741273, 1754656, 1758810, 1809398, 1823664,
        1823672, 1825683, 1837636, 1850397, 1850457, 1855199, 1856101,
        1860213, 1860357, 1881002, 1895587, 1935859, 1951266, 1961175,
        1972591, 1974419, 1976009, 1979376, 1979388, 1981107, 1985949,
        2025690, 2039393, 2056771, 2057392, 2080374, 2084970, 2084977,
        2088735, 2091935, 2094766, 2096673, 2097298, 2101383, 2111478,
        2119532, 2126355, 2126357, 2140037, 2140379, 2140479, 2167266,
        2170439, 2179136, 2180411, 2217859, 2224026, 2226597, 2239822,
        2241351, 2267968, 2268016, 2273657, 2277860, 2283336, 2283362,
        2291540, 2293640, 2304933, 2305051, 2310332, 2315582, 2316204,
        2321405, 2322441, 2325977, 2328900, 2331047, 2334871, 2361509,
        2368254, 2378507, 2379713, 2380307, 2381111, 2381941, 2381991,
        2386490, 2396589, 2398231, 2398241, 2401097, 2401878, 2402101,
        2402927, 2404425, 2404435, 2406566, 2436386, 2446980, 2452042,
        2452254, 2461520, 2474024, 2488496, 2493486, 2503944, 2510894,
        2527336, 2543164, 2543472, 2547584, 2554274, 2555736, 2557478,
        2567026, 2567712, 2582496, 2582782, 2582784, 2584384, 2625810,
        2637276, 2638144, 2639254, 2639336, 2649554, 2660888, 2671706,
        2674426, 2679042, 2692250, 2702724, 2704998, 2709768, 2711898,
        2717822, 2717860, 2719848, 2726560, 2737050, 2737304, 2771200,
        2788732, 2798920, 2802144, 2802154, 2823054, 2848292, 2870648,
        2872518, 2873282, 2884018, 2891174, 2908446, 2910904, 2935476,
        2937696, 2937898, 2948356, 2967224, 2975590, 2980210, 2994190,
        3007512, 3011894, 3040964, 3045616, 3060492, 3062096, 3065204,
        3076658, 3077214, 3100274, 3104988, 3110958, 3152624, 3168230,
        3169706, 3170832, 3172532, 3183660, 3203606, 3205376, 3231054,
        3262342, 3263904, 3289728, 3315342, 3316948, 3316960, 3317208,
        3318750, 3319920, 3322364, 3332064, 3385516, 3387542, 3397884,
        3402236, 3410834, 3411444, 3416536, 3442006, 3450958, 3460252,
        3464902, 3469046, 3470600, 3488710, 3498820, 3501632, 3503406,
        3521126, 3531824, 3532216, 3544082, 3544112, 3553976, 3564472,
        3569230, 3606752, 3606756, 3606888, 3622592, 3623726, 3631112,
        3640424, 3659388, 3685236, 3691740, 3707106, 3715320, 3716530,
        3721964, 3731562, 3741834, 3748528, 3750872, 3754940, 3766354,
        3774114, 3778644, 3783958, 3799694, 3808342, 3829920, 3841424,
        3850214, 3850590, 3859076, 3859310, 3861390, 3874544, 3890160,
        3896198, 3922818, 3967856, 4005402, 4015500, 4034228, 4034354,
        4044364, 4046784, 4048272, 4052882, 4062536, 4080728, 4120176,
        4136084, 4154664, 4154796, 4158624, 4172430, 4196450, 4209788,
        4218572, 4218696, 4263482, 4270516, 4287320, 4291600, 4302938,
        4326444, 4331970, 4341582, 4361050, 4372390, 4385888, 4411596,
        4425200, 4437216, 4438848, 4442130, 4465564, 4468634, 4468740,
        4477536, 4481414, 4486986, 4500922, 4501244, 4513674, 4540710,
        4550098, 4555426, 4572514, 4575576, 4581576, 4622512, 4630444,
        4633694, 4645368, 4649466, 4651520, 4652650, 4669264, 4669986,
        4680182, 4682786, 4686844, 4701182, 4701724, 4714782, 4721124,
        4731136, 4733640, 4741708, 4765284, 4779682, 4781612, 4795124,
        4799050, 4824302, 4827558, 4846232, 4846340, 4881806, 4913966,
        4922522, 4925292, 4972582, 4975722, 4986134, 4995790, 5013056,
        5027774, 5028340, 5052448, 5052474, 5065822, 5083738, 5093026,
        5095030, 5104604, 5109784, 5140878, 5160938, 5164214, 5164432,
        5168192, 5179598, 5186714, 5220122, 5294550, 5304464, 5390504,
        5437928, 5439796, 5442430, 5450984, 5461944, 5462602, 5463162,
        5478478, 5523010, 5556144, 5580036, 5580266, 5580390, 5592248,
        5635086, 5639354, 5639446, 5649144, 5651050, 5688932, 5700176,
        5700672, 5715874, 5716464, 5719700, 5726616, 5776858, 5814060,
        5816682, 5824900, 5848272, 5850440, 5886046, 5886440, 5929776,
        5960374, 6063090, 6139732, 6146586, 6155172, 6225520, 6257174,
        6266538, 6294822, 6303866, 6306064, 6320628, 6398184, 6483364,
        6499752, 6513120, 6565702, 6628394, 6663582, 6679794, 6751668,
        6802308, 6823368, 6852872, 6857112, 6859762, 6865690, 6911608,
        6938828, 6952960, 6966692, 6998518, 7008872, 7235270, 7286456,
        7349662, 7401588, 7545524, 7549996, 7645780, 7668870, 7784604,
        7959026, 8075192, 8254556, 8267604, 8350360, 8632862, 9495224],
       dtype=int64),
 97: array([  68646,   71562,   99674,  101414,  482571,  816711, 1343092,
        1392214, 1490017, 1690953, 1723121, 1921064, 2234155, 2395427],
       dtype=int64),
 98: array([  56576,   69121,   80474,   93229, 1045658, 1074638, 1430626,
        1549572, 1549920, 1570989, 1583421, 1602613, 1637725, 1907639,
        1907668, 2101441, 2390361], dtype=int64),
 100: array([  61418,   83658,   95327,   95765,   96283,  104652,  119698,

In [127]:
def compute_corr_pearson(user1, user2):
    movies1 = movies_to_analyze[user1]
    movies2 = movies_to_analyze[user2]
    
    sim_mov = np.intersect1d(movies1, movies2, assume_unique=True)
    
    if len(sim_mov) > 0:
        
        df = user_by_movie.loc[(user1, user2), sim_mov]
    
        dist = np.linalg.norm(df.loc[user1] - df.loc[user2])
        
        return dist

In [128]:
corr_df = []
corr = 0
for user1 in movies_to_analyze:
    for user2 in movies_to_analyze:
        dist = compute_corr_pearson(user1, user2)
        if dist is not None:
            corr_df.append({'user1':user1, 'user2':user2, 'euc_dist':dist})

In [132]:
df_dist = pd.DataFrame(corr_df)

In [183]:
user_by_movie.loc[61][user_by_movie.loc[61].isnull() == False].count()

121

In [141]:
def find_closest_distance(user):
    closest_neighbor = df_dist[df_dist['user1'] == user].sort_values(by='euc_dist').iloc[1:]['user2']
    closest_neighbor = np.array(closest_neighbor)
    return closest_neighbor
print(find_closest_distance(11))

[41 74 12 91  2 61 95]

In [178]:
def movies_liked(user_id, min_rating=7):
    return np.array(user_items.query('user_id == @user_id and rating >= @min_rating')['movie_id'])
movies_liked(11)

array([1282140, 2388771, 4477536, 6450804, 7286456, 8201170, 8579674],
      dtype=int64)

In [152]:
def movie_names(movie_ids):
    movie_lst = movies[movies['movie_id'].isin(movie_ids)]['movie']
    return list(movie_lst)
movie_names(movies_liked(11))

['Easy A (2010)',
 'Mowgli (2018)',
 'Fifty Shades Freed (2018)',
 'Terminator: Dark Fate (2019)',
 'Joker (2019)',
 'The Perfect Date (2019)',
 '1917 (2019)']

In [184]:
def make_recommendations(user, num_recs=10):
    # movies_seen by user (we don't want to recommend these)
    movies_seen = movies_watched(user)
    closest_neighbors = find_closest_distance(user)
    
    # Keep the recommended movies here
    recs = np.array([])
    
    # Go through the neighbors and identify movies they like the user hasn't seen
    for neighbor in closest_neighbors:
        neighbs_likes = movies_liked(neighbor)
        
        #Obtain recommendations for each neighbor
        new_recs = np.setdiff1d(neighbs_likes, movies_seen, assume_unique=True)
        
        # Update recs with new recs
        recs = np.unique(np.concatenate([new_recs, recs], axis=0))
        
        # If we have enough recommendations exit the loop
        if len(recs) > num_recs-1:
            break
    
    # Pull movie titles using movie ids
    recommendations = movie_names(recs)
    
    return recommendations[:10]

In [185]:
make_recommendations(2)

['The Deer Hunter (1978)',
 'Fahrenheit 451 (2018)',
 'A Walk Among the Tombstones (2014)',
 'Jurassic World (2015)',
 'Shazam! (2019)',
 'Ex Machina (2014)',
 'World War Z (2013)',
 'Lone Survivor (2013)',
 'Cold in July (2014)',
 'Broken City (2013)']

In [186]:
def all_recs(num_recs=10):
    users = np.unique(df_dist['user1'])
    n_users = users.shape[0]
    
    all_recs = dict()
    
    center = 0
    bar = progressbar.ProgressBar(maxval=n_users+1, widgets=[progressbar.Bar('=','[',']'),' ', progressbar.Percentage()])
    bar.start()
    
    for user in users:
        center += 1
        bar.update(center)
        
        recs = make_recommendations(user, num_recs)
        all_recs[user] = recs
        
    bar.finish()
    return all_recs

In [187]:
all_recs()

[========================================================================] 100%

{2: ['The Deer Hunter (1978)',
  'Fahrenheit 451 (2018)',
  'A Walk Among the Tombstones (2014)',
  'Jurassic World (2015)',
  'Shazam! (2019)',
  'Ex Machina (2014)',
  'World War Z (2013)',
  'Lone Survivor (2013)',
  'Cold in July (2014)',
  'Broken City (2013)'],
 3: ['The Godfather: Part II (1974)',
  'Alien (1979)',
  'Aliens (1986)',
  'The Fly (1986)',
  'A Few Good Men (1992)',
  'Heat (1995)',
  'Meet Joe Black (1998)',
  'Rush Hour (1998)',
  'Fight Club (1999)',
  'Sleepy Hollow (1999)'],
 4: ['The Godfather (1972)',
  'The Godfather: Part II (1974)',
  'The Godfather: Part III (1990)',
  'Beauty and the Beast (1991)',
  'The Prestige (2006)',
  'World War Z (2013)',
  'Prisoners (2013)',
  'Despicable Me 2 (2013)',
  "We're the Millers (2013)",
  'Pompeii (2014)'],
 5: ['Rebel Without a Cause (1955)',
  'What Ever Happened to Baby Jane? (1962)',
  'Westworld (1973)',
  'Star Wars (1977)',
  'The Shining (1980)',
  'An American Werewolf in London (1981)',
  'Vacation (1983)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Gremlins (1984)',
  'A Nightmare on Elm Street (1984)'],
 6: ['The Godfather: Part II (1974)',
  'Alien (1979)',
  'Aliens (1986)',
  'The Fly (1986)',
  'A Few Good Men (1992)',
  'Heat (1995)',
  'Meet Joe Black (1998)',
  'Rush Hour (1998)',
  'Fight Club (1999)',
  'Sleepy Hollow (1999)'],
 7: ['Ladri di biciclette (1948)',
  '12 Angry Men (1957)',
  'Cinema Paradiso (1988)',
  'Requiem for a Dream (2000)',
  'Million Dollar Baby (2004)',
  'Fantastic Beasts and Where to Find Them (2016)',
  'Kong: Skull Island (2017)',
  "Don't Breathe (2016)",
  'Dunkirk (2017)',
  'Happy Death Day (2017)'],
 11: ['Fight Club (1999)',
  'V for Vendetta (2005)',
  'Death Race (2008)',
  'The Equalizer (2014)',
  'The International (2009)',
  'The Darkest Hour (2011)',
  'Aloha (2015)',
  'Gangster Squad (2013)',
  'Passengers (2016)',
  'Tomb Raider (2018)'],
 12: ['Walk the Line (2005)',
  'Easy A (2010)',
  'Mowgli (2018)',
  'Fifty Shades Freed (2018)',
  'Terminator: Dark Fate (2019)',
  'Gisaengchung (2019)',
  'Once Upon a Time ...in Hollywood (2019)',
  'Joker (2019)',
  'The Lighthouse (2019)',
  'The Perfect Date (2019)'],
 15: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)'],
 18: [],
 19: ['Mad Max (1979)',
  'Mad Max 2 (1981)',
  'The Addams Family (1991)',
  'The Mummy (1999)',
  'The Lord of the Rings: The Fellowship of the Ring (2001)',
  'The Lord of the Rings: The Return of the King (2003)',
  'The Lord of the Rings: The Two Towers (2002)',
  'The Haunting (1999)',
  'The Mummy Returns (2001)',
  'Dodgeball: A True Underdog Story (2004)'],
 21: ["Singin' in the Rain (1952)",
  '12 Angry Men (1957)',
  'The Godfather (1972)',
  'Star Wars (1977)',
  'Hair (1979)',
  'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Goodfellas (1990)',
  'Batman: Mask of the Phantasm (1993)',
  'LÃƒÂ©on (1994)'],
 27: ['Barry Lyndon (1975)',
  'Mammoth (2009)',
  'The Ides of March (2011)',
  'The Hobbit: The Desolation of Smaug (2013)',
  'The Imitation Game (2014)',
  'Spring Breakers (2012)',
  'Before Midnight (2013)',
  'Tesis sobre un homicidio (2013)',
  'Drinking Buddies (2013)',
  'In a World... (2013)'],
 30: ['Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Scarface (1983)',
  'The Breakfast Club (1985)',
  'Ace Ventura: Pet Detective (1994)',
  'Forrest Gump (1994)',
  'Fight Club (1999)',
  'Office Space (1999)',
  '8 Mile (2002)',
  'The Machinist (2004)',
  'The Terminal (2004)'],
 38: ['The Godfather: Part II (1974)',
  'Alien (1979)',
  'Aliens (1986)',
  'The Fly (1986)',
  'A Few Good Men (1992)',
  'Heat (1995)',
  'Meet Joe Black (1998)',
  'Rush Hour (1998)',
  'Fight Club (1999)',
  'Sleepy Hollow (1999)'],
 41: ["Breakfast at Tiffany's (1961)",
  'Hadashi no Gen (1983)',
  'SamÃƒÂ¢ uÃƒÂ´zu (2009)',
  'Jageun yeonmot (2009)',
  'The Glass Castle (2017)',
  'Mandariinid (2013)',
  'Jobanni no shima (2014)',
  'Free Fire (2016)',
  'The Founder (2016)',
  'Kokoro ga sakebitagatterunda. (2015)'],
 42: [],
 44: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)'],
 48: ['Jurassic World (2015)',
  'Ant-Man (2015)',
  'Deadpool (2016)',
  'Broken (2012)',
  'Warm Bodies (2013)',
  'Spectre (2015)',
  'Star Wars: Episode VII - The Force Awakens (2015)',
  'Batman v Superman: Dawn of Justice (2016)',
  'The Jungle Book (2016)',
  'X-Men: Apocalypse (2016)'],
 50: ["Singin' in the Rain (1952)",
  '12 Angry Men (1957)',
  'The Godfather (1972)',
  'Star Wars (1977)',
  'Hair (1979)',
  'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Goodfellas (1990)',
  'Batman: Mask of the Phantasm (1993)',
  'LÃƒÂ©on (1994)'],
 51: ['Bonnie and Clyde (1967)',
  'Blade Runner (1982)',
  'Hotaru no haka (1988)',
  'Cinema Paradiso (1988)',
  'Tonari no Totoro (1988)',
  'Kurenai no buta (1992)',
  'Mononoke-hime (1997)',
  'PÃƒÂ¢fekuto burÃƒÂ» (1997)',
  'The Lord of the Rings: The Two Towers (2002)',
  'The Pianist (2002)'],
 52: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)',
  'The Life Aquatic with Steve Zissou (2004)'],
 53: ['Rebel Without a Cause (1955)',
  'What Ever Happened to Baby Jane? (1962)',
  'Westworld (1973)',
  'Star Wars (1977)',
  'The Shining (1980)',
  'An American Werewolf in London (1981)',
  'Vacation (1983)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Gremlins (1984)',
  'A Nightmare on Elm Street (1984)'],
 54: ['The Deer Hunter (1978)',
  'Fahrenheit 451 (2018)',
  'A Walk Among the Tombstones (2014)',
  'Jurassic World (2015)',
  'Shazam! (2019)',
  'Ex Machina (2014)',
  'World War Z (2013)',
  'Lone Survivor (2013)',
  'Cold in July (2014)',
  'Broken City (2013)'],
 57: ['Come Live with Me (1941)',
  "It's a Wonderful Life (1946)",
  'Miracle on 34th Street (1947)',
  'Cinderella (1950)',
  'Calamity Jane (1953)',
  'On the Waterfront (1954)',
  'Rear Window (1954)',
  'The Man from Laramie (1955)',
  'Vertigo (1958)',
  "Ocean's Eleven (1960)"],
 58: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'If Only (2004)'],
 59: ['Alien (1979)',
  'Aliens (1986)',
  'No Country for Old Men (2007)',
  'World War Z (2013)',
  'The Imaginarium of Doctor Parnassus (2009)',
  'Looper (2012)',
  'Now You See Me (2013)',
  'Dragon Ball Z: Battle of Gods (2013)',
  'Howl (2015)',
  'The Green Inferno (2013)'],
 61: ["Breakfast at Tiffany's (1961)",
  'Hadashi no Gen (1983)',
  'SamÃƒÂ¢ uÃƒÂ´zu (2009)',
  'Jageun yeonmot (2009)',
  'Deepwater Horizon (2016)',
  'The Glass Castle (2017)',
  'Mandariinid (2013)',
  'Jobanni no shima (2014)',
  'Free Fire (2016)',
  'The Founder (2016)'],
 62: ['Mad Max (1979)',
  'Mad Max 2 (1981)',
  'The Addams Family (1991)',
  'The Mummy (1999)',
  'The Lord of the Rings: The Fellowship of the Ring (2001)',
  'The Lord of the Rings: The Return of the King (2003)',
  'The Lord of the Rings: The Two Towers (2002)',
  'The Haunting (1999)',
  'The Mummy Returns (2001)',
  'Dodgeball: A True Underdog Story (2004)'],
 64: ['The Deer Hunter (1978)',
  'Fahrenheit 451 (2018)',
  'A Walk Among the Tombstones (2014)',
  'Jurassic World (2015)',
  'Shazam! (2019)',
  'Ex Machina (2014)',
  'World War Z (2013)',
  'Lone Survivor (2013)',
  'Cold in July (2014)',
  'Broken City (2013)'],
 66: ['The Deer Hunter (1978)',
  'Fahrenheit 451 (2018)',
  'A Walk Among the Tombstones (2014)',
  'Jurassic World (2015)',
  'Shazam! (2019)',
  'Ex Machina (2014)',
  'World War Z (2013)',
  'Lone Survivor (2013)',
  'Cold in July (2014)',
  'Broken City (2013)'],
 69: ['Rebel Without a Cause (1955)',
  'What Ever Happened to Baby Jane? (1962)',
  'Westworld (1973)',
  'Star Wars (1977)',
  'The Shining (1980)',
  'An American Werewolf in London (1981)',
  'Vacation (1983)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Gremlins (1984)',
  'A Nightmare on Elm Street (1984)'],
 70: ['The Godfather (1972)',
  'The Godfather: Part II (1974)',
  'The Godfather: Part III (1990)',
  'Beauty and the Beast (1991)',
  'The Prestige (2006)',
  'The Great Gatsby (2013)',
  'Prisoners (2013)',
  'Despicable Me 2 (2013)',
  "We're the Millers (2013)",
  'Pompeii (2014)'],
 73: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)'],
 74: ['The Grinch (2018)',
  'Godzilla: King of the Monsters (2019)',
  'The Secret Life of Pets 2 (2019)',
  "Ocean's Eight (2018)",
  'Hotel Transylvania 3: Summer Vacation (2018)',
  'Eli (2019)',
  'Doctor Sleep (2019)',
  'Terminator: Dark Fate (2019)',
  'Method (2017)',
  'It Chapter Two (2019)'],
 78: ['The Damned (1963)',
  'Prime Cut (1972)',
  'Brubaker (1980)',
  'Silver Linings Playbook (2012)',
  'Skyfall (2012)',
  'The Pirates! In an Adventure with Scientists! (2012)',
  'The Last Stand (2013)',
  'Tiny Furniture (2010)',
  'Ted (2012)',
  'Spring Breakers (2012)'],
 81: ['Rebel Without a Cause (1955)',
  'What Ever Happened to Baby Jane? (1962)',
  'Westworld (1973)',
  'Star Wars (1977)',
  'The Shining (1980)',
  'An American Werewolf in London (1981)',
  'Vacation (1983)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Gremlins (1984)',
  'A Nightmare on Elm Street (1984)'],
 83: ['The Godfather: Part II (1974)',
  'Alien (1979)',
  'Aliens (1986)',
  'The Fly (1986)',
  'A Few Good Men (1992)',
  'Heat (1995)',
  'Meet Joe Black (1998)',
  'Rush Hour (1998)',
  'Fight Club (1999)',
  'Sleepy Hollow (1999)'],
 84: ['Bonnie and Clyde (1967)',
  'Blade Runner (1982)',
  'Hotaru no haka (1988)',
  'Cinema Paradiso (1988)',
  'Tonari no Totoro (1988)',
  'Kurenai no buta (1992)',
  'Mononoke-hime (1997)',
  'PÃƒÂ¢fekuto burÃƒÂ» (1997)',
  'The Lord of the Rings: The Two Towers (2002)',
  'The Pianist (2002)'],
 86: ["Singin' in the Rain (1952)",
  '12 Angry Men (1957)',
  'The Godfather (1972)',
  'Star Wars (1977)',
  'Hair (1979)',
  'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Goodfellas (1990)',
  'Batman: Mask of the Phantasm (1993)',
  'LÃƒÂ©on (1994)'],
 88: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)'],
 91: ['The Deer Hunter (1978)',
  'Fahrenheit 451 (2018)',
  'A Walk Among the Tombstones (2014)',
  'Jurassic World (2015)',
  'Shazam! (2019)',
  'Ex Machina (2014)',
  'World War Z (2013)',
  'Lone Survivor (2013)',
  'Cold in July (2014)',
  'Broken City (2013)'],
 92: ['Come Live with Me (1941)',
  "It's a Wonderful Life (1946)",
  'Miracle on 34th Street (1947)',
  'Cinderella (1950)',
  'Calamity Jane (1953)',
  'On the Waterfront (1954)',
  'Rear Window (1954)',
  'The Man from Laramie (1955)',
  "Ocean's Eleven (1960)",
  'Mary Poppins (1964)'],
 93: ["One Flew Over the Cuckoo's Nest (1975)",
  'Taxi Driver (1976)',
  'Scent of a Woman (1992)',
  'Fever Pitch (1997)',
  'Brokedown Palace (1999)',
  'Any Given Sunday (1999)',
  'Office Space (1999)',
  'Requiem for a Dream (2000)',
  'Almost Famous (2000)',
  'The Secret Life of Walter Mitty (2013)'],
 94: ['Superbad (2007)',
  'The Edge of Seventeen (2016)',
  'The Broken Circle Breakdown (2012)',
  'The Accountant (2016)',
  'The Magnificent Seven (2016)',
  'Arrival (2016)',
  'Jojo Rabbit (2019)',
  'Lion (2016)',
  'Baby Driver (2017)',
  'Guardians of the Galaxy Vol. 2 (2017)'],
 95: ['Barry Lyndon (1975)',
  'Alien (1979)',
  'Aliens (1986)',
  'No Country for Old Men (2007)',
  'Dallas Buyers Club (2013)',
  'Mammoth (2009)',
  'The Ides of March (2011)',
  'The Hobbit: The Desolation of Smaug (2013)',
  'Broken (2012)',
  'Warm Bodies (2013)'],
 97: ['Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Scarface (1983)',
  'The Breakfast Club (1985)',
  'Ace Ventura: Pet Detective (1994)',
  'Forrest Gump (1994)',
  'Fight Club (1999)',
  'Office Space (1999)',
  '8 Mile (2002)',
  'The Machinist (2004)',
  'The Terminal (2004)'],
 98: ['American History X (1998)',
  'Mud (2012)',
  'The Kings of Summer (2013)',
  'Before Midnight (2013)',
  'Drinking Buddies (2013)',
  'In a World... (2013)'],
 100: ['Barry Lyndon (1975)',
  'Dallas Buyers Club (2013)',
  'Mammoth (2009)',
  'The Ides of March (2011)',
  'The Hobbit: The Desolation of Smaug (2013)',
  'Jagten (2012)',
  'Tesis sobre un homicidio (2013)',
  'Le passÃƒÂ© (2013)',
  'Magical Girl (2014)',
  'Dheepan (2015)']}