#### From Scratch

In [2]:
raw_data = open('data/SMSSpamCollection.tsv').read()

raw_data[:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [6]:
replace_t = raw_data.replace('\t', '\n')
split_n = replace_t.split('\n')

split_n[:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [11]:
labellist = split_n[:-1:2]
textlist = split_n[1::2]

print(textlist[:5])
print(labellist[:5])

["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']
['ham', 'spam', 'ham', 'ham', 'ham']

In [12]:
print(len(textlist))
print(len(labellist))

5570
5570

In [14]:
import pandas as pd

In [15]:
dataset = pd.DataFrame({'labels': labellist, 'text': textlist})

dataset.head()

  labels                                               text
0    ham  I've been searching for the right words to tha...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  Nah I don't think he goes to usf, he lives aro...
3    ham  Even my brother is not like to speak with me. ...
4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!

#### Using pandas

In [18]:
dataset = pd.read_csv('data/SMSSpamCollection.tsv', sep='\t', header=None)
dataset.columns = ['labels', 'text']

dataset.head()

  labels                                               text
0    ham  I've been searching for the right words to tha...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  Nah I don't think he goes to usf, he lives aro...
3    ham  Even my brother is not like to speak with me. ...
4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!