### Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, confusion_matrix

### Load the Data

In [2]:
df = pd.read_csv('../../Datasets/admissions.csv')

df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [3]:
df[['level1', 'level2', 'level3', 'level4']] = pd.get_dummies(df['prestige'])

In [4]:
y = df['admit']
x = df[['gre', 'gpa', 'level1', 'level2', 'level3']]

x

     gre   gpa  level1  level2  level3
0    380  3.61       0       0       1
1    660  3.67       0       0       1
2    800  4.00       1       0       0
3    640  3.19       0       0       0
4    520  2.93       0       0       0
..   ...   ...     ...     ...     ...
392  620  4.00       0       1       0
393  560  3.04       0       0       1
394  460  2.63       0       1       0
395  700  3.65       0       1       0
396  600  3.89       0       0       1

[397 rows x 5 columns]

In [5]:
# Split into train and test set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10, random_state=42)

### Fitting a Model

In [6]:
log_reg = LogisticRegression()

log_reg.fit(x_train, y_train)

LogisticRegression()

In [7]:
y_pred = log_reg.predict(x_test)

### Model Evaluation

In [9]:
print('\033[1m'+'Precision Score:'+'\033[0m', precision_score(y_test, y_pred))
print('\033[1m'+'Recall Score:'+'\033[0m', recall_score(y_test, y_pred))
print('\033[1m'+'Accuracy Score:'+'\033[0m', accuracy_score(y_test, y_pred))
print('\033[1m'+'Confusion Matrix:'+'\033[0m'+'\n', confusion_matrix(y_test, y_pred))

Precision Score: 0.3333333333333333
Recall Score: 0.0625
Accuracy Score: 0.575
Confusion Matrix:
 [[22  2]
 [15  1]]

* Therefore, there are 22 non-admitted that we predict to be non-admitted.
* There are 15 admitted that we predicted to be non-admitted.
* There is 1 non-admitted that we predict to be admitted.
* There are 2 admitted that we predict to be admitted.