# Correlation of Stocks and Bonds

Investors are often interested in the correlation between the returns of two different assets for asset allocation and hedging purposes. In this exercise, you'll try to answer the question of whether stocks are positively or negatively correlated with bonds. Scatter plots are also useful for visualizing the correlation between the two variables.

Keep in mind that you should compute the correlations on the percentage changes rather than the levels.

Stock prices and 10-year bond yields are combined in a DataFrame called stocks_and_bonds under columns SP500 and US10Y

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# read in stock and bond csv
stocks = pd.read_csv('data/stocks.csv', index_col='observation_date')
bonds = pd.read_csv('data/bonds.csv', index_col='observation_date')

print(stocks.head())
print(bonds.head())

                    SP500
observation_date
2007-06-11        1509.12
2007-06-12        1493.00
2007-06-13        1515.67
2007-06-14        1522.97
2007-06-15        1532.91
                  US10Y
observation_date
2007-06-08         5.12
2007-06-11         5.14
2007-06-12         5.26
2007-06-13         5.20
2007-06-14         5.23

In [4]:
# Merge stocks and bonds DataFrames using join()
stocks_and_bonds = stocks.join(bonds, how="inner")

In [5]:
# Compute percent change using pct_change()
returns = stocks_and_bonds.pct_change()

In [8]:
returns.head()

                     SP500     US10Y
observation_date
2007-06-11             NaN       NaN
2007-06-12       -0.010682  0.023346
2007-06-13        0.015184 -0.011407
2007-06-14        0.004816  0.005769
2007-06-15        0.006527 -0.013384

In [10]:
# Compute correlation using corr()
correlation = returns.corr()
correlation

          SP500     US10Y
SP500  1.000000  0.411945
US10Y  0.411945  1.000000